.fa-map-marked-alt{
    font-size: 60px;
    margin-right: 10px;
    color: red;
}


.fa-ruler-combined{
    font-size: 60px;
    margin-right: 10px;
    color: red;
}

.fa-wpforms{
    font-size: 60px;
    margin-right: 10px;
    color: red;
}

.fa-shipping-fast{
    font-size: 60px;
    margin-right: 10px;
    color: red;
}

.fa-hand-holding-usd{
        font-size: 60px;
        margin-right: 10px;
        color: red;
}


.fa-question-circle{
    font-size: 60px;
    margin-right: 10px;
    color: red;
}